#include "subarctic/pinctrl.h"
#include "bone/pins.h"

&am33xx_pinmux {
	cap2_pins: cap2 {
		pinctrl-single,pins = <
			PIN_IO_PULLDOWN( P9_28, 4 )  // cap 2
		>;
	};

	qep2_pins: qep2 {
		pinctrl-single,pins = <
			PIN_IN_PULLDOWN( P8_12, 4 )  // qep 2 A
			PIN_IN_PULLDOWN( P8_11, 4 )  // qep 2 B
			PIN_IO_PULLDOWN( P8_16, 4 )  // qep 2 index
			PIN_IO_PULLDOWN( P8_15, 4 )  // qep 2 strobe
		>;
	};

	pwm2_pins: pwm2 {
		pinctrl-single,pins = <
			PIN_OUT_PULLDOWN( P8_19, 4 )  // pwm 2 A
			PIN_OUT_PULLDOWN( P8_13, 4 )  // pwm 2 B
		>;
	};

	pwm_tz_pins: pwm-tz {
		pinctrl-single,pins = <
			PIN_IN_PULLDOWN( P8_14, 4 )  // pwm tripzone 2
		>;
	};
};

&epwmss2 {
	status = "okay";
	compatible = "simple-pm-bus", "ti,am33xx-pwmss";
	ranges = <0 0x48304000 0x1000>;

	// The individual submodules are smaller than a page (in fact the
	// pwmss subsystem occupies only a single 4K page), so make an uio
	// device for the whole address range.
	module {
		reg = <0 0x1000>;
		compatible = "uio";
		symlink = "uio/pwmss2/module";
	};

	// see below for child nodes &ecap2, &eqep2, &ehrpwm2

	// add device for pwm tripzone irq
	pwm-tz {
		interrupt-parent = <&intc>;
		interrupts = <60>;
		compatible = "uio";
		symlink = "uio/pwmss2/pwm-tz";
	};
};

&ecap2 {
	reg = <0x100 0x80>;

	interrupt-parent = <&intc>;
	interrupts = <61>;

	dmas = <&edma 62 0>;

	compatible = "uio";
	symlink = "uio/pwmss2/cap";
	status = "okay";
};

&eqep2 {
	reg = <0x180 0x80>;

	interrupt-parent = <&intc>;
	interrupts = <89>;

	compatible = "uio";
	symlink = "uio/pwmss2/qep";
	status = "okay";
};

&ehrpwm2 {
	reg = <0x200 0x80>, <0x280 0x80>;
	reg-names = "pwm", "hr";

	interrupt-parent = <&intc>;
	interrupts = <39>, <60>;
	interrupt-names = "pwm", "tz";

	dmas = <&edma 63 0>;

	compatible = "uio";
	symlink = "uio/pwmss2/pwm";
	status = "okay";
};
