SUBSYSTEM=="uio", ATTR{name}=="pruss_evt0", SYMLINK+="uio/pruss/module"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt0", SYMLINK+="uio/pruss/irq2"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt1", SYMLINK+="uio/pruss/irq3"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt2", SYMLINK+="uio/pruss/irq4"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt3", SYMLINK+="uio/pruss/irq5"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt4", SYMLINK+="uio/pruss/irq6"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt5", SYMLINK+="uio/pruss/irq7"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt6", SYMLINK+="uio/pruss/irq8"
SUBSYSTEM=="uio", ATTR{name}=="pruss_evt7", SYMLINK+="uio/pruss/irq9"
